body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms ease;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.nav-link.current {
  position: relative;
}

.nav-link::after {
  opacity: 0;
}
.nav-link:hover::after {
  opacity: 1;
}

.nav-link.current::after {
  content: "";
  left: 0;
  bottom: -1px;
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: opacity 250ms ease;
  opacity: 1;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-bg {
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-section-list {
  display: flex;
  gap: 24px;
}

.team-section-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
  width: calc((100% - 72px) / 4);
}

.team-section-card {
  padding: 32px 0;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #f4f4fd;
}

.section-portfolio-title {
  margin-bottom: 72px;
}
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-section-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-section-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.section-portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Контейнер зображення і overlay */
.section-portfolio-img-container {
  position: relative;
  overflow: hidden;
}

.section-portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-img-container:hover .section-portfolio-overlay {
  transform: translateY(0%);
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  gap: 120px;
  align-items: baseline;
  padding-left: 32px; /* отступ слева, чтобы лого не прилипало */
}

.footer-box-logo {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}
